<%= form_with(model: bookmark, remote: true, data: {confirm: "Are you sure?"}) do |form| %>
  <% if bookmark.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bookmark.errors.count, "error") %> prohibited this bookmark from being saved:</h2>

      <ul>
      <% bookmark.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :bookmark_name, :class => "form-control"%>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url, id: :bookmark_url, :class => "form-control" %>
  </div>

  <div class="field">
    <%= form.label :type_id %>
    <%= form.select :type_id, Type.all.collect {|t| [t.name, t.id]}, {} ,id: :bookmark_type_id, include_blank:false %>
  </div>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.select :category_id, Category.all.collect {|c| [c.name, c.id]}, {} ,id: :bookmark_category_id, include_blank:false %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>